body, html{
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    background-color: #362417;
    overflow: hidden;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.buttons-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

button {
    height: 50px;
    width: 125px;
    border-radius: 10px;
    background-color: #f1dabf;
    border: 1px solid #04030f;
}

.home{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f1dabf;
    align-items: center;
    padding: 48px;
    text-align: center;
    height: fit-content;
    margin: 0;
}

.menu{
    background-color: #f1dabf;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    padding: 8px;
}

.menu-drinks {
    padding-bottom: 16px;
}

.contact{
    background-color: #f1dabf;
    text-align: center;
}

input{
    height: 24px;
    width: 256px;
    padding: 0;
}

textarea{
    width: 254px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}